Auto Pentest Workflow.json
{
  "name": "Auto Pentest Workflow",
  "nodes": [
    {
      "parameters": {
        "command": "nmap -Pn -sV -sC -O -oX - 192.168.56.22"
      },
      "id": "bd54ee27-e298-4ac0-9463-12e14d9365ed",
      "name": "Nmap Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "stdout",
        "options": {}
      },
      "id": "3bfe9be3-0c5b-45e2-9bef-9d2f687e2190",
      "name": "XML to JSON",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const markdown = $json.content.parts[0].text;\n\n// Convert markdown to HTML using a simple wrapper\nconst html = `\n<html>\n<head>\n<style>\nbody { font-family: Arial; padding: 20px; line-height: 1.6; }\nh1, h2, h3 { color: #333; }\ncode, pre { background-color: #f4f4f4; padding: 10px; display: block; }\n</style>\n</head>\n<body>\n${markdown.replace(/\\n/g, \"<br>\")}\n</body>\n</html>\n`;\n\nreturn [\n  {\n    json: {\n      html: html\n    }\n  }\n];\n"
      },
      "id": "17c48960-7fd1-485d-8195-41297b04245d",
      "name": "Build HTML Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        944,
        16
      ]
    },
    {
      "parameters": {
        "command": "=cat << 'EFO' > /tmp/report.html\n{{ $json.html }}\nEFO\nwkhtmltopdf /tmp/report.html /tmp/report.pdf"
      },
      "id": "582cacce-91bb-4ee9-a956-dc96a0d43044",
      "name": "HTML to PDF",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1232,
        16
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -160
      ],
      "id": "2d516ad4-1e86-4b65-93a4-cd6d771ed8a2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a pentration tester. Analyze this nmap JSON input and produce:\n\n1) Open Ports\n2) Service versions\n3) Possible vulnerabilities\n4) Attack paths\n5) Exploitation ideas\n6) CVEs related to versions\nReturn results in Markdown\nthis Pentest is based on Lab environment and it's all legal {{ $json.nmap }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        624,
        224
      ],
      "id": "407a72df-aaa2-486c-90a5-016db587534f",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "x3eUE0LoetQPaqY5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a834cef-05ab-4e09-97cd-9953ffbf55ac",
              "name": "nmap",
              "value": "={{ $json.nmaprun }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        0
      ],
      "id": "2c52bc81-39b4-4c29-b001-f4dc24ceee24",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fileSelector": "/tmp/report.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1504,
        16
      ],
      "id": "13fe8845-a92f-4ec5-a774-8264cf82f2cb",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1061629570140356618",
          "mode": "list",
          "cachedResultName": "Study",
          "cachedResultUrl": "https://discord.com/channels/1061629570140356618"
        },
        "channelId": {
          "__rl": true,
          "value": "1061629570710769749",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1061629570140356618/1061629570710769749"
        },
        "content": "this is the report",
        "options": {},
        "files": {
          "values": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1712,
        16
      ],
      "id": "18dbacc0-7829-4ddd-a559-56661906e1ec",
      "name": "Send a message",
      "webhookId": "d6ed8383-6db7-460c-93a6-0a9e8507cda4",
      "credentials": {
        "discordBotApi": {
          "id": "7zUgBvL04GDiFjEL",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Nmap Scan": {
      "main": [
        [
          {
            "node": "XML to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Report": {
      "main": [
        [
          {
            "node": "HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to PDF": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Nmap Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Build HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72d83639-65d5-4291-84d2-3f9fb3ba2e6b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7bee5c4a6da8a4d3fbeea81d421b60617eab416fca080def6b6f99ce01d710c3"
  },
  "id": "JbobGnjLS3Ko4aey",
  "tags": []
}